@model IEnumerable<VoteViewModel>
@{
    Layout = "_AwardingLayout";
}
<h1>
    Результаты
</h1>
<div class="row col-md-12">
    @foreach (var vote in Model.OrderByDescending(item => item.Vote.Sum(item => ((int)item.VoteTir) + 1)))
    {
       <div class="col-md-12">
	        <div class="form-group">
                <div class="row">
		            <label>
                        @vote.Option.Title: Этот вариант набирает @vote.Vote.Sum(item => ((int)item.VoteTir) + 1) очков
                    </label>
                </div>
	        </div>
        </div>
    }
</div>

<div class="col-md-12 text-center">
    <a id="GoNext" href="#">
        Далее 
    </a>
</div>

<script>
    $(document).ready(function () {
        let sessionId = sessionStorage.getItem("AwardSessionId")
        var href = `GoNext?sessionId=${sessionId}`;
        $("#GoNext").attr("href", href);
    })
</script>