@model List<AwardSessionModel>

@{
    Layout = "_AwardingLayout";
}

<style>
    .award-picture{
        max-width: 100%
    }
</style>

<div class="row col-md-12" id="ChoseAwarding">
    <lable> Выберите награждение</lable>
    <select class="select awardingSelect"> </select>
</div>

@if(Model.Count > 0)
{
    <div class="row col-md-12">
        <lable>Продолжить существующую</lable>
        <select class="select">
            @foreach (var session in Model)
            {
                <option value="@session.Id">
                    @session.ConnectionCode
                </option>
            }
        </select>
    </div>
}
<div class="col-md-12 text-center">
    <h1 id="AwardName"> </h1>
</div>
<div id="Picture" style="margin: 50px" class="text-center">

</div>
<div class="row col-md-12" id="CreatingSession" style="display: none">
    <a class="col-md-12 text-center" id="CreatSession" href="#">
        <h2>
            Создать ссесию
        </h2>
    </a>
</div>

<div class="row col-md-12" id="StartingSession" style="display: none">
    <a class="col-md-12 text-center" id="StartAwarding" href="#" style="margin-bottom: 40px;">
        <h2>
            Начать Награждение
        </h2>
    </a>
    <div class="col-md-12">
        <h4> Для подключения зайдите в тг и введите код: <b id="Code"></b></h4>
    </div>
</div>
<script>
    $(document).ready(function () {

        let lastIndex = 0;
        const selectWidth = "100%";
        $(".awardingSelect").select2({
            ajax: {
                url: "/Admin/Awards/AjaxGetAwards",
                dataType: 'json',
                data: function (param) {
                    return {
                        lastIndex,
                        q: param.term
                    }
                },
                processResults: function (data) {
                    return { results: data };
                },
            },
            tags: true,
            createTag: function (params) {
                return {
                    id: -1,
                    text: params.term
                }
            },
            width: selectWidth,
        });

        $(".awardingSelect").on("select2:select", function (e) {
            let awardId = $(".awardingSelect").val();
            let selectedText = $(".awardingSelect :selected").text()
            $("#AwardName").text(selectedText)
            $("#CreatingSession").show();
            $.ajax({
                url: "/Admin/Pictures/AjaxGetPathes",
			    type: "post",
			    data: {
                    Type: @((int)PictureType.Award),
                    Id: awardId,
                    Counts: 1,
                    ViewName: "Partials/_AwardPicture"
			    },
			    success: function (html) {
                    $("#Picture").empty();
                    $("#Picture").append(html);
			    }
		    });
        });

        $("#CreatSession").on("click", function () {
            let awardId = $(".awardingSelect").val();
            $.ajax({
			    url: "AjaxCreateSession",
			    type: "post",
			    data: {
                    awardId: awardId
			    },
			    success: function (data) {
                    $("#CreatingSession").hide();
                    $("#ChoseAwarding").hide();
                    $("#StartingSession").show();
                    console.log(data);
                    $("#Code").text(data.code);
                    sessionStorage.setItem("AwardSessionId", data.id)
			    }
		    });
        });

        $("#StartAwarding").on("click", function() {
            let awardId = $(".awardingSelect").val();
            var sessionId = sessionStorage.getItem("AwardSessionId");
            $.ajax({
                url: "AjaxStartAwarding",
			    type: "post",
			    data: {
                    sessionId
                },
			    success: function (data) {
                    location.replace(data.url);
			    }
		    });
        });
    });
</script>