@model AwardModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " награждения";
    var pictureFilterModel = new InnerPictureFilterModel()
    {
        Type = PictureType.Award,
        Id = Model.Id
    };
}

<div class="row">
    @if (Model.Id != 0)
    {
        <div class="col-md-6">
            <partial name="../Pictures/Partials/_PictureEditor" model="@pictureFilterModel">
        </div>
    }
    <form asp-action="Update" asp-antiforgery="true" method="post" class="@(Model.Id != 0 ? "col-md-6" : "col-md-12")">
        <input asp-for="UserId" type="hidden" />
        <div class="col-md-12">
            <partial name="ModelWithPicture/MainInfo" model="@Model">
                <div class="col-md-12 text-center">
                    <button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
                </div>
        </div>
    </form>
</div>
