@model AwardEventModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " AwardEvent";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<input type="hidden" asp-for="Id"/>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Title"></label>
				<input type="text" asp-for="Title" class="form-control"/>
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Description"></label>
				<input type="text" asp-for="Description" class="form-control"/>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="OrderId"></label>
				<input type="text" asp-for="OrderId" class="form-control"/>
				<span asp-validation-for="OrderId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="AwardsId"></label>
				<input type="text" asp-for="AwardsId" class="form-control"/>
				<span asp-validation-for="AwardsId" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
