@model QuestModel

@{
}
<div class="row">
    <div class="col-md-8">
		<div class="form-group">
            <div class="row">
			    <label asp-for="Title" class="col-md-3"></label>
			    <input type="text" class="form-control col-md-9" readonly value="@Model.Title"/>
            </div>
		</div>
	</div>
    <div class="col-md-2">
		<div class="form-group">
            <div class="row">
			    <label asp-for="IsComplited" class="col-md-3"></label>
			    <input type="checkbox" disabled class="form-control col-md-9" value="@Model.IsComplited"/>
            </div>
		</div>
	</div>
    <div class="col-md-2">
		<div class="form-group">
            <a asp-action="Update" asp-route-id="@Model.Id">Изменить</a><br/>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
		<div class="form-group">
			<label asp-for="FlavorText"></label>
            <textarea asp-for="FlavorText" class="form-control" cols="10" rows="4" readonly> </textarea>
		</div>
	</div>
</div>

<div class="row">
    <hr style="border:1px solid #808080; width: 100%"/>
</div>