<#@ template visibility="internal" #>
public class HttpRequestError: LocalizedError {
	public var url: String
	public var statusCode: Int
	public var response: String?
	
	public init(url: String, statusCode: Int, response: String?) {
		self.url = url
		self.statusCode = statusCode
		self.response = response
	}
	
	public var errorDescription: String? {
		return "Request to address \"\(url)\" completed with status code \(statusCode)"
	}
}