@using UI.Extensions.Mvc
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex">
	<title>@ViewBag.Title</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/jquery-datetimepicker/build/jquery.datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/award.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://swiper5.flandre.tw/package/css/swiper.min.css" />
    <script src="https://swiper5.flandre.tw/package/js/swiper.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
	<script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
	<script src="~/lib/knockout/build/output/knockout-latest.min.js" asp-append-version="true"></script>
	<script src="~/lib/knockout.mapping/knockout.mapping.min.js" asp-append-version="true"></script>
	<script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<main role="main" class="col-md-12">
                <div class="py-3" style="padding-left:10%; padding-right:10%">
					@RenderBody()
				</div>
			</main>
		</div>
	</div>
    <script src="~/js/pageUtils.js" asp-append-version="true"></script>
	<script src="~/js/admin.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
