@model QuestModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " Квеста";
    int? previosQuestId = ViewBag.PreviosQuestId;
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="NextQuestId"/>
    <input type="hidden" name="previosQuestId" value="@previosQuestId"/>
	<div class="row">
        <div class="row col-md-8">
            <div class="col-md-12">
			    <div class="form-group">
				    <label asp-for="FlavorText"></label>
                    <textarea asp-for="FlavorText" class="form-control" cols="10" rows="10">

                    </textarea>
				    <span asp-validation-for="FlavorText" class="text-danger"></span>
			    </div>
		    </div>
        </div>
        <div class="row col-md-4">
            <div class="col-md-12">
			    <div class="form-group">
				    <label asp-for="Title"></label>
				    <input type="text" asp-for="Title" class="form-control"/>
				    <span asp-validation-for="Title" class="text-danger"></span>
			    </div>
		    </div>
            <div class="col-md-12">
			    <div class="form-group">
				    <label asp-for="IsComplited"></label>
				    <input type="checkbox" asp-for="IsComplited" class="form-control"/>
				    <span asp-validation-for="IsComplited" class="text-danger"></span>
			    </div>
		    </div>
        </div>
	</div>
    @if(Model.NextQuestId != null)
    {
        <div class="row mb-3">
		    <h2 class="text-center col-12">Следующие квесты</h2>
	    </div>
        <div class="inner-quests">
            <div class="row">
                <hr style="border:1px solid #808080; width: 100%"/>
            </div>
	    </div>
    }
    
	<div class="row">
		<div class="col-md-12 text-center">
            @if(Model.Id != 0)
            {
			    <a asp-action="Update" asp-route-Id="null" asp-route-previosQuestId="@Model.Id" class="btn btn-outline-secondary">Добавить следующий квест</a>
            }
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>


@section Scripts
{

    <script>
        GetInnerQuest = function(id){
            if(id == null){
                return
            }

            $.ajax({
				url: "/Admin/Quests/GetInnerQuest",
				type: "post",
				data: {
					id: id,
				},
				success: function (html) {
                    $(".inner-quests").append(html)
                    console.log(html)
				},
				error: function(){
					console.log("error " + Ajaxes.length - 1)
				}
			});
             $.ajax({
				url: "/Admin/Quests/GetInnerQuestInfo",
				type: "post",
				data: {
					id: id,
				},
				success: function (data) {
                    console.log(data)
                    GetInnerQuest(data.NextQuestId)
				},
				error: function(){
					console.log("error " + Ajaxes.length - 1)
				}
			});
        }

        $(document).ready(function () {
            GetInnerQuest(@Model.NextQuestId);
        });
	</script>
}