<#@ template visibility="internal" #>
<#@ import namespace="System.Collections.Generic" #>
<resources>
<#
	foreach (var resource in stringResources)
	{
#>
	 <string name="<#= resource.Key #>"><#= resource.Value #></string>
<#
	}
#>
</resources>

<#+
	private IEnumerable<KeyValuePair<string, string>> stringResources;
	internal StringsTemplate(IEnumerable<KeyValuePair<string, string>> stringResources)
	{
		this.stringResources = stringResources;
	}
#>