@using System.Web
@using Newtonsoft.Json
@model PictureEditorViewModel
@{
}

<div class="row" id="InnerPictures-@Model.UniqId">

</div>
<script>
    $(document).ready(function () {
        var filterModel = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.Filter)))");

        $.ajax({
			url: "/Admin/Pictures/AjaxGetPathes",
			type: "post",
			data: {
				filterModel: filterModel
			},
			success: function (html) {
                $("#InnerPictures-" + @Model.UniqId).append(html);
			},
			error: function(){ 
				console.log("error")
			}
		});
	});
</script>