@model IEnumerable<PictureViewModel>

@{
}
<style>
    .preview-picture {
        display: block;
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: 400px;
    }

    .preview-picture-div {
        padding: 20px;
    }
</style>
@foreach (var picture in Model)
{
    <div class="preview-picture-div">
        @switch (picture.Picture.Type)
        {
            case PictureType.Picture:
                <img src="@picture.Picture.Link" class="preview-picture" />
                break;
            case PictureType.YouTube:
                <iframe id="video-frame" src="@picture.Picture.Link" allowfullscreen="allowfullscreen" frameborder="0" width="100%" height="315"></iframe>
                break;
        }
    </div>
}