<#@ template visibility="internal" #>
<#@ import namespace="CodeGeneration.ApiClientsCodeGenerator.Converters.Flutter" #>
targets:
  $default:
    builders:
      json_serializable:
        options:
          generic_argument_factories: true
<#+
	private FlutterConverter converter;
	internal BuildConfigurationTemplate(FlutterConverter converter)
	{
		this.converter = converter;
	}
#>